.main-heading{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 40px;
    font-weight: 800;
}

.main-heading h1{
    font-size: 60px;
    font-weight: 600;
}

.work-cards{
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding-bottom: 5rem;
}

.jumbotron{
    /* min-height: 300px; */
    margin-bottom: 2.5rem;
    background: transparent;
    transition: all 0.7s ease;
}

.jumbotron:hover{
    cursor: pointer;
    background-color: rgb(52, 8, 134);
}

.work-card-body{
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgb(52, 8, 134);
    padding: 1rem
}
.card-title{
    color: rgb(52, 8, 134);
    font-size: 40px;
    font-weight: 600;
}

.card-duration{
    color: crimson;
    font-size: 25px;
    font-weight: 600;
}

.card-text{
    font-size: 20px;
    font-weight: 400;
}

.skills{
    opacity: 0;
    transform: translateY(-180%);
    transition: all 0.7s ease;
}

.jumbotron:hover h1,p,hr{
    color: rgb(52, 8, 134);
}

.jumbotron:hover .card-duration{
    color: rgb(52, 8, 134);
}

.jumbotron:hover .skills{
    opacity: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .work-card-body{
        box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgb(52, 8, 134);
        padding: 0;
    }
    .skills{
        margin-top: 25px;
        transform: translateY(200);
    }
}
